@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Itim&family=Pacifico&family=Zen+Kaku+Gothic+New:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Zen Kaku Gothic New", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
